@import "./assets/fonts/fonts.css";

:root {
    --main-color: #002554;
    --lighter-blue: #005EB8;
    --neutral: #383D43;
}

* {
    font-family: Neo Sans Arabic Regular;
}

html, body {
    direction: rtl;
}

.header-bar {
 background-color: var(--main-color);
 color: white;
 height: 64px;
 width: 100%;
}

.header-bar p {
    margin-bottom: 0;
    font-size: 14px;
}

.nav {
    margin-top: 1rem;
}

.nav-item a {
    font-size: 18px;
    color: var(--main-color);
}

.dropdown-toggle::after {
    border: none;
}

.dropdown-menu {
    padding: 0;
    border: 1px solid #F2F2F2;
    box-shadow: 2px 6px 27px 4px rgba(222, 221, 221, 0.35);
    border-radius: 6px;
}

.dropdown-menu a {
    text-align: right;
    font-size: 14px;
    padding: 0.5rem ;
}

.dropdown-menu li:first-child a {
    border-radius: 6px 6px 0px 0px;
}

.dropdown-menu li:last-child a {
    border-radius: 0px 0px 6px 6px;
}

.dropdown-item:hover {
    background-color: var(--lighter-blue);
    color: white;
}

.h-70 {
    height: 70%;
}

.carousel-caption {
    text-align: right;
    right: 0;
    padding-right: 48px;
}

.carousel-caption h1 {
    font-family: "Neo Sans Arabic Bold";
    color: var(--main-color);
    font-size: 45px;
    margin-bottom: 3rem;
}

.carousel-caption p {
    font-size: 23px;
    line-height: 2;
    color: var(--neutral);
}

.carousel-indicators {
    left: auto;
}

.e-services-section {
    background-color: #FBFAFA;
    padding: 5rem 0;
}

.vertical-line {
    width: 83px;
    height: 9px;
    background: linear-gradient(79.58deg, #40C1AC 26.83%, rgba(64, 193, 172, 0.23) 77.39%);
    border-radius: 8px;
    transform: rotate(-90deg);
}

.e-services-section .title-section {
    margin: 4rem 0;
}

.e-services-section .title-section h1 {
    font-family: "Neo Sans Arabic Bold";
    margin-right: -1rem;
    line-height: 1rem;
    width: fit-content;
}

.e-services-section .cards-section {
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.e-services-section .cards-section .card{
    width: 250px;
    height: 285px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 34px rgba(0, 1, 3, 0.1);
    border-radius: 10px;
    margin: 1rem;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
}


.e-services-section .cards-section .card.active{
    background-color: var(--lighter-blue);
    color: white;
}

.e-services-section .cards-section .card img{
    margin: 2rem 0;
    max-height: 90px;
}

.e-services-section button{
    background-color: var(--lighter-blue);
    border-color: var(--lighter-blue);
    color: white;
    border: 2px solid #005EB8;
    box-sizing: border-box;
    border-radius: 4px;
    width: 151px;
    height: 51px;
    margin: 5rem auto;
}


.carousel-dark .carousel-indicators [data-bs-target]{
    background-color: #DBDBDB;
    border: 1px solid #DBDBDB;
    border-radius: 12px;
    height: 5px;
    width: 35px;
    margin: auto 0.5rem;
}

.carousel-dark .carousel-indicators [data-bs-target].active{
    background-color: var(--lighter-blue);
    border: 1px solid var(--lighter-blue);
    border-radius: 12px;
    height: 10px;
    width: 50px;
}
